@model IEnumerable<comestic_csharp.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Summary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photo4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChildCat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coupon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Summary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Photo4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cat.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChildCat.Slug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coupon.Code)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
